* {
  margin: 0;
  padding: 0;
}

a {
 text-decoration: none !important;
}

.menu-anchor {
  width: 40px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  background: #FFF;
  position: absolute !important;
  margin-left: -70 !important;
  margin-top: -75px !important;
}

.menu-anchor:before {
  content: "";
  display: block;
  margin: 7px auto;
  width: 70%;
  height: 0.25em;
  background: #000000;
  box-shadow: 0 .45em 0 0 #000000, 0 .9em 0 0 #000000;
}

.menu-active .menu-anchor {background: #C0C0C0}

menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 220px;
  height: 100%;
  padding-top: 10px;
  background: #C0C0C0;
  box-shadow: inset -5px -10px 10px 0 rgba(0,0,0,.3)
}

menu li {
  display: block;
  border-bottom: 1px solid rgba(255,255,255,.3);
  margin: 0 10px;
  padding: 10px;
  color: #FFF;
}

menu li a:hover {
  color: #d55401;
}


menu {
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  transform: translateX(-220px);
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear;
}


header, .main {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear;
}


.menu-active menu {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.menu-active header, 
.menu-active .main {
  -webkit-transform: translateX(220px);
  -moz-transform: translateX(220px);
  -ms-transform: translateX(220px);
  transform: translateX(220px);
}

.list {
  font-size: 12px;
}

a span{
  color: white;
}
